/* ABOUT TEXT */

#about-container {
  display: flex;
  flex-direction: column;
  gap: 20px;
  height: 80vh !important;
  align-items: center;
  justify-content: flex-start;
}

#about-container p {
  font-size: 0.5rem;
  font-weight: 300;
}

.skills-container {
  display: grid;
  justify-items: center;
  grid-template-columns: repeat(3, 1fr);
  grid-template-rows: repeat(6, auto);
  gap: 20px; /* Spacing between items */
  width: 100%;
  margin: 0 auto; /* Center the grid */
}

.skill-card img:hover {
  transform: scale(1.15);
}

.skills-container img {
  width: 80%;
  aspect-ratio: 1/1;
  margin-bottom: 10px;
  min-width: 40px;
  transition: 0.2s ease;
}

.skill-card {
  display: flex;
  align-items: center;
  flex-direction: column;
  width: 40px;
  height: 60px;
}

.icon-name {
  display: none;
  margin-top: 0px;
}

.icon-name.selectedIcon {
  display: block;
}
