/* ABOUT TEXT */

#about-container {
  display: flex;
  flex-direction: column;
  gap: 10px;
  height: 85vh !important;
  align-items: center;
  justify-content: space-evenly;
}

#about-container p {
  font-size: 0.8rem;
  font-weight: 300;
}

.frontend-container,
.backend-container,
.database-container,
.extra-container {
  background-color: white !important;
  padding: 15px !important;
  border-radius: 14px;
  box-shadow: 0 6px 14px 0 rgba(0, 0, 0, 0.2);
}

#frontend-skills,
#backend-skills,
#database-skills,
#extra-tools {
  margin-top: 10px;
  gap: 10px;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
}

.skills-container {
  display: flex;
  flex-direction: column;
  gap: 10px;
  height: 100%;
  justify-content: space-evenly;
}

.skill-card img:hover {
  transform: scale(1.15);
}

.skills-container img {
  width: 80%;
  aspect-ratio: 1/1;
  margin-bottom: 5px;
  min-width: 40px;
  transition: 0.2s ease;
  -webkit-filter: drop-shadow(5px 5px 5px rgba(0, 0, 0, 0.1));
  filter: drop-shadow(5px 5px 5px rgba(0, 0, 0, 0.3));
}

.skill-card {
  display: flex;
  align-items: center;
  flex-direction: column;
  width: 40px;
  height: 60px;
  overflow: visible;
}

.icon-name {
  display: none;
  margin-top: 0px;
  font-size: 8px;
  text-wrap: nowrap;
}

.icon-name.selectedIcon {
  display: block;
}

#aboutTitle {
  height: 5vh;
}
