/* ABOUT TEXT */

#about-container {
  display: flex;
  flex-direction: column;
  gap: 10vh;
  height: 80vh !important;
  align-items: center;
}

.skills-container {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  gap: 20px;
  width: 70vw;
}

.skill-card {
  display: flex;
  flex: 1 1 calc(20% - 20px); /* 5 icons per row with gaps */
  justify-content: center;
  align-items: center;
  max-width: calc(20% - 10px);
}

.skill-card img {
  max-width: 65px;
  max-width: 65px;
  height: 100%;
  width: 100%;
  transition: box-shadow 0.3s, transform 0.3s;
}

.skill-card img:hover {
  scale: 1.03;
  transform: translateY(-3px);
}
