#experience-container {
  height: 75vh;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;
  color: #f4f1de;
  margin-bottom: 5vh;
}

.flip-card {
  background-color: transparent;
  width: 70vw; /* Adjusted to match your card width */
  height: 35vh;
  perspective: 1000px;
  margin: 1rem; /* Add margin to center the card */
}

.flip-card-inner {
  position: relative;
  width: 100%;
  height: 100%;
  text-align: center;
  transition: transform 0.6s;
  transform-style: preserve-3d;
}

.flip-card.flipped .flip-card-inner {
  transform: rotateY(180deg);
}

.flip-card-front,
.flip-card-back {
  position: absolute;
  width: 100%;
  height: 100%;
  backface-visibility: hidden;
  border-radius: 25px;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
}

.flip-card-front {
  background-color: #e07a5f;
  color: #f4f1de;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.flip-card-back {
  background-color: var(--text-color);
  color: var(--background-color);
  transform: rotateY(180deg);
  box-sizing: border-box;
  padding: 30px;
  text-align: left;

  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.flip-card-back li {
  font-weight: 500;
  list-style-position: inside;
  font-size: 0.6rem;
}

.experience {
  display: flex;
  flex-direction: column;
  gap: 1rem;
}

.calender-icon {
  width: 15px;
  height: 15px;
}

.grade-icon {
  width: 20px;
  height: 20px;
}

.experience-features li {
  margin: calc(0.8vh + 0.9vw);
  font-size: calc(0.6vh + 0.6vw);
}

.course-grade,
.experience-date {
  display: flex;
  justify-content: left;
  align-items: center;
  gap: 0.4rem;
  width: 100%;
}

.course-grade p,
.experience-date p {
  margin: 0;
  font-weight: 600;
  color: #f4f1de;
}

.experience h1,
h3 {
  color: #f4f1de;
  margin: 0;
}
