.website-logo {
  height: 7vh;
  margin-left: 10px;
}

.website-logo:hover {
  cursor: default;
}

header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin: 0;
  height: 15vh;
}
