/* Landscape Mobile */
@media only screen and (max-width: 813px) and (orientation: landscape) {
  #profile {
    flex-direction: row;
    gap: 2rem;
  }
  .contact-form-container h3 {
    scale: 0.6;
  }

  .profile-img-container {
    margin: 0;
  }

  .project-title {
    scale: 0.6;
  }

  #experience-container {
    flex-direction: row;
  }
  .flip-card {
    height: 60vh;
  }
  .website-logo {
    height: 12vh;
  }

  .profile-text-1,
  .profile-text-2,
  .contact-button,
  .cv-button,
  .profile-img-container,
  img,
  .experience-location,
  .experience-name {
    scale: 0.8;
  }

  .experience {
    gap: 0.3rem !important;
  }

  .profile-text-2,
  .homepage-buttons {
    margin-bottom: 0.5rem;
  }
  .profile-text-1 {
    margin-bottom: 0px;
  }
  .about-text-container {
    margin-top: 10px;
  }

  .about-text-container p {
    margin: 1px;
  }

  .skills-container {
    display: flex;
  }

  p {
    font-size: 0.5rem !important;
  }

  #about-container {
    gap: 4vh;
  }
  .hamburger-icon {
    height: 20px;
    width: 20px;
  }
}

/* Wide Screens */
@media only screen and (min-width: 813px) {
  #profile {
    flex-direction: row-reverse;
    gap: 2rem;
    justify-content: space-evenly;
  }
  .profile-img-container {
    margin: 0;
  }
  #experience-container {
    flex-direction: row;
  }
  .experience-features {
    font-size: calc(1vw + 1vh);
  }
  .flip-card {
    height: 60vh;
  }

  /* Switch Nav Bar */
  #computer-nav {
    display: flex;
    margin-right: 5vw;
  }
  .mobile-nav-bar {
    display: none;
  }

  .contact-input {
    width: 230px;
  }
}

/* Experiences shows 2 cards per screen - back to column flex */

/* Bigger screen = bigger title and buttons */
@media only screen and (min-width: 1024px) {
  .skill-card {
    width: 70px;
  }

  .profile-img-container {
    scale: 1.3;
  }
  profile-img {
    width: 100%;
  }
  .website-logo {
    scale: 1.3;
    margin-left: 60px;
  }
  #profile {
    gap: 6rem;
  }

  .styled-button {
    width: 60px;
    height: 30px;
    font-size: 10px;
  }

  /* PROJECT CARD */
}

/* Narrow Mobile */
@media only screen and (max-width: 350px) {
  .experience-features li {
    margin: calc(0.5vh + 0.5vw);
    font-size: 0.6rem;
  }
}

/* Short Display */
@media only screen and (orientation: portrait) and (max-height: 700px) {
  .contact-form {
    padding-top: 15px;
    gap: 8px;
  }
  .contact-form-container h3 {
    display: none;
  }

  .experience-features li {
    margin: calc(0.5vh + 0.5vw);
    font-size: 0.4rem;
  }

  .skills-container img {
    margin-bottom: 1px;
  }
  p,
  h1,
  h3 {
    font-size: 0.5rem !important;
  }
  .profile-text-1,
  .profile-text-2,
  .contact-button,
  .cv-button,
  .experience-location,
  .experience-name {
    scale: 0.8;
  }
}

@media only screen and (max-height: 350px) {
  .skill-card {
    height: 40px;
  }
  .contact-form-container h3 {
    display: none;
  }
  .contact-form {
    padding-top: 15px !important;
  }
}

@media only screen and (orientation: landscape) and (max-height: 550px) {
  .contact-form {
    gap: 0.5rem;
    padding-top: 0rem;
  }
  .userInfo {
    gap: 0.5rem;
  }
}

@media only screen and (orientation: landscape) and (max-height: 435px) {
  textarea {
    max-width: none !important;
  }

  textarea {
    height: 55% !important;
    width: 95% !important;
  }

  .userInfo {
    flex-direction: column;
    width: 40%;
    padding-left: 5px;
    height: 100%;
    justify-content: flex-start;
    align-items: center;
  }

  .userInfo input {
    width: 100%;
  }

  .contact-form-container h3 {
    margin-top: 20px;
    margin-left: 20px;
    margin-bottom: 5px;
  }

  .contact-form-container {
    width: 85vw;
  }

  .contact-form {
    padding: 5px;
    flex-direction: row;
    gap: 0.2rem;
    align-items: center;
    justify-content: center;
  }

  #contact .section-container {
    align-items: baseline;
    padding-top: 20px;
    box-sizing: border-box;
  }

  .messageAndSubmit {
    height: 100%;
    width: 50%;
    align-items: center;
    justify-content: flex-start;
  }
}

@media only screen and (orientation: landscape) {
  .nImage {
    height: 100% !important;
  }

  .skills-container {
    flex-direction: row;
    height: auto;
  }

  #projects {
    gap: 1rem;
  }
}

@media only screen and (orientation: landscape) and (max-height: 700px) {
  .skill-card {
    flex: none;
    width: 35px;
  }
}
