@media only screen and (max-width: 812px) and (orientation: landscape),
  only screen and (min-width: 813px) {
  #profile {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 2rem;
  }
  .profile-img-container {
    margin: 0;
  }

  #experience-container {
    flex-direction: row;
  }

  .flip-card {
    height: 60vh;
  }
}

/* Normal Mobile */
@media only screen and (max-width: 812px) {
  #project-container {
    align-items: flex-start;
    height: 80vh !important;
  }
  #computer-nav {
    display: none;
  }
  .mobile-nav-bar {
    display: flex;
  }
}

/* ipad */
@media only screen and (min-width: 812px) {
  .experience-features li {
    font-size: 0.8rem;
    padding: 1rem;
    list-style-position: inside;
  }

  .section-title {
    font-size: 2rem;
  }
  .card-text p {
    font-size: 0.8rem;
    padding-left: 20px;
    padding-right: 20px;
  }
  #computer-nav {
    display: flex;
  }
  .nav {
    margin: 0 5rem 0 5rem;
  }
  .mobile-nav-bar {
    display: none;
  }
}

/* DESKTOP */
@media only screen and (min-width: 1000px) {
  .experience-features li {
    font-size: 1rem;
    padding: 1rem;
    list-style-position: inside;
  }
  .skills-container {
    padding: 8vw;
    gap: 0.5rem;
  }
  .skill-card img {
    height: 60px;
    width: 60px;
  }
}

/* BIG DESKTOP */
@media only screen and (min-width: 1400px) {
  .skills-container {
    padding: 50px
    gap: 0.5rem;
  }
  .skill-card img {
    height: 70px;
    width: 70px;
  }
}

/* landscape mobile only */
@media only screen and (max-width: 812px) and (orientation: landscape) {
  .card {
    display: flex !important;
    flex-direction: row;
    gap: 1.5rem;
  }
  .card-image {
    margin-top: 0;
  }

  .profile-text-1 {
    font-size: 2rem;
    font-weight: 500;
  }

  .profile-text-2 {
    color: var(--primary-color);
    font-size: 1rem;
    font-weight: 400;
    margin-bottom: 1rem;
  }
  .homepage-buttons button {
    font-weight: 400;
    padding: 0.5rem;
    border-radius: 2rem;
    border-style: solid;
    font-size: 0.5rem;
  }
}

@media only screen and (max-width: 450px) {
  .about-text-container p {
    font-size: 0.6rem !important ;
  }
  .skill-card img {
    height: 30px;
    width: 30px;
  }
}
