/* PROFILE */
a,
button {
  transition: all 300ms ease;
}
#profile {
  display: flex;
  flex-direction: column;
  justify-content: start;
  align-items: center;
  padding-bottom: 10vh !important;
  padding-top: 0vh !important;
  height: 75vh;
  margin-bottom: 0;
}

.profile-img-container {
  display: flex;
  height: 250px;
  width: 250px;
  margin: 0 auto 0;
}

.profile-img-container img {
  width: 100%;
  height: 100%;
}

.profile-text-content {
  align-self: center;
  text-align: center;
}

.profile-text-1 {
  font-size: 1.5rem !important;
  font-weight: 600;
  color: var(--text-color);
  margin-bottom: 1rem;
}

.profile-text-2 {
  color: var(--primary-color);
  font-size: 1.5rem !important;
  font-weight: 400;
  margin-bottom: 1rem;
}
.homepage-buttons {
  margin-bottom: 2rem;
}

.social-links {
  display: flex;
  justify-content: center;
  gap: 1.5rem;
}

.homepage-buttons {
  display: flex;
  justify-content: center;
  gap: 2rem;
}

.homepage-buttons button {
  font-weight: 400;
  width: 80px;
  height: 35px;
  border-radius: 0.5rem;
  border-style: solid;
  font-size: 0.6rem;
}

.cv-button {
  background-color: #3d405b !important;
  border-color: var(--text-color) !important;
  color: #f4f1de !important;
}

.cv-button:hover {
  background-color: var(--background-color);
  border-color: var(--text-color);
  color: var(--text-color);
}

.contact-button {
  background-color: #f4f1de !important;
  border-color: var(--text-color) !important;
  color: #3d405b !important;
  cursor: pointer;
}

.contact-button:hover {
  background-color: var(--text-color);
  border-color: var(--text-color);
  color: var(--background-color);
  cursor: pointer;
}

.icon {
  height: 30px;
  width: 30px;
  cursor: pointer;
}
