#projects {
  height: auto;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  gap: 0.5rem;
  box-sizing: border-box;
}

#projects .section-title {
  height: 5vh;
}

.ac {
  background-color: var(--text-color) !important;
  padding: 15px;
  border-radius: 25px;
}

.ac-trigger {
  color: var(--projects-text) !important;
}

.ac-panel {
  padding: 0px 10px;
  display: flex !important;
  flex-direction: column;
}

.skills-used {
  color: rgb(247, 148, 121) !important;
  font-weight: 800 !important;
  word-spacing: 2px;
  font-size: 10px !important;
  display: flex;
  justify-content: start;
  align-items: center;
  gap: 1rem;
  margin-bottom: 4px !important;
}

.project-detail {
  color: var(--projects-text) !important;
  font-weight: 600;
  font: bold;
  margin-top: 0.5rem;
}

.project-controls {
  display: flex;
  justify-content: center;
  text-align: center;
  gap: 2rem;
}

.project-controls p {
  color: var(--projects-text) !important;
  margin: 0;
}

.frontend-backend {
  color: var(--projects-text);
}
