body {
  display: flex;
  justify-content: center;
  flex-direction: column;
  align-items: center;
  text-align: center;
  height: 100vh;
  gap: 40px;
}

.big-tick {
  width: 10vw;
  margin-bottom: 30px;
}

a {
  text-decoration: underline;
  color: var(--primary-color);
}
