/* imports */

@import url("https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap");

:root {
  /* Light mode colors */
  --background-color: rgb(244, 241, 222);
  --text-color: rgb(61, 64, 91);
  --primary-color: rgb(129, 178, 154);
}

/* Dark mode overrides */
body.dark-mode {
  --background-color: #3d405b;
  --text-color: #f4f1de;
  --primary-color: #81b29a;
}

* {
  margin: 0;
  padding: 0;
}

body {
  background-color: var(--background-color);
  font-family: "Poppins", sans-serif;
  font-weight: 200;
  font-style: light;
}

/* when we click links to nav will scroll down in smooth movement */
html {
  scroll-behavior: smooth;
}

p,
h1 {
  color: var(--text-color);
  margin-bottom: 1rem;
  font-size: 0.85rem;
}

h3 {
  color: var(--primary-color);
}

/* ALL SECTIONS */

section {
  height: 95vh;
  margin: 0 7vw;
  padding-top: 5vh;
}

.section-container {
  height: fit-content;
}

.section-title {
  color: var(--text-color);
  font-size: 1.2rem;
  margin-bottom: 2rem;
}

.dark-light img {
  height: 30px;
  width: 30px;
}

#toggle-dark-light {
  background-color: var(--background-color) !important;
  border: none;
  position: fixed; /* Fixes the button's position relative to the viewport */
  bottom: 20px; /* Distance from the bottom of the viewport */
  right: 20px; /* Distance from the right side of the viewport */
  padding: 10px 20px;
  cursor: pointer;
  z-index: 1000; /* Ensures the button is above other content */
}
