/* imports */

@import url("https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap");

:root {
  /* Light mode colors */
  --background-color: rgb(244, 241, 222);
  --text-color: rgb(61, 64, 91);
  --primary-color: rgb(129, 178, 154);
  --translucient-background-color: rgb(244, 241, 222, 0.8);
}

/* Dark mode overrides */
body.dark-mode {
  --background-color: #3d405b;
  --text-color: #f4f1de;
  --primary-color: #81b29a;
  --translucient-background-color: rgb(61, 64, 91, 0.5);
}

* {
  margin: 0;
  padding: 0;
}

body {
  background-color: var(--background-color);
  font-family: "Poppins", sans-serif;
  font-weight: 200;
  font-style: light;
}

/* when we click links to nav will scroll down in smooth movement */
html {
  scroll-behavior: smooth;
}

p,
h1 {
  color: var(--text-color);
  margin-bottom: 1rem;
  font-size: 0.85rem;
}

h3 {
  color: var(--primary-color);
}

/* ALL SECTIONS */

section {
  margin: 0 7vw;
  padding-top: 5vh;
  padding-bottom: 5vh;
}

.section-container {
  height: 80vh;
}

.section-title {
  color: var(--text-color);
  font-size: 1.2rem;
  margin: 0;
  height: 10vh;
  box-sizing: border-box;
}

.dark-light img {
  height: 30px;
  width: 30px;
}

#toggle-dark-light {
  background: none !important;
  border: none;
  position: fixed;
  bottom: 10px;
  right: 10px;
  padding: 5px 5px;
  cursor: pointer;
  z-index: 1000;
}

#home-button {
  background: none !important;
  border: none;
  position: fixed;
  bottom: 10px;
  left: 10px;
  padding: 5px 5px;
  cursor: pointer;
  z-index: 1000;
}
