/* PROFILE */
a,
button {
  transition: all 300ms ease;
}
#profile {
  display: block;
  padding-top: 5vh;
  height: 90vh;
  margin-bottom: 0;
}

.profile-img-container {
  display: flex;
  height: 200px;
  width: 200px;
  margin: 0 auto 0;
}

.profile-text-content {
  align-self: center;
  text-align: center;
}

.profile-text-1 {
  font-size: 3rem;
  font-weight: 600;
  color: var(--text-color);
  margin-bottom: 1rem;
}

.profile-text-2 {
  color: var(--primary-color);
  font-size: 1.5rem;
  font-weight: 400;
  margin-bottom: 1rem;
}
.homepage-buttons {
  margin-bottom: 2rem;
}

.social-links {
  display: flex;
  justify-content: center;
  gap: 1.5rem;
}

.homepage-buttons {
  display: flex;
  justify-content: center;
  gap: 2rem;
}

.homepage-buttons button {
  font-weight: 500;
  padding: 1rem;
  border-radius: 2rem;
  border-style: solid;
}

.cv-button {
  background-color: var(--text-color);
  border-color: var(--text-color);
  color: var(--background-color);
  cursor: pointer;
}

.cv-button:hover {
  background-color: var(--background-color);
  border-color: var(--text-color);
  color: var(--text-color);
}

.contact-button {
  background-color: var(--background-color);
  border-color: var(--text-color);
  color: var(--text-color);
  cursor: pointer;
}

.contact-button:hover {
  background-color: var(--text-color);
  border-color: var(--text-color);
  color: var(--background-color);
  cursor: pointer;
}

.icon {
  height: 30px;
  width: 30px;
  cursor: pointer;
}
