#project-container {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 80vh;
}

.slide-container {
  max-width: 1100px;
  width: 100%;
  height: 100%;
}

.slide-content {
  height: 100%;
}

.card-wrapper {
  margin-bottom: 35px;
  height: 100%;
  /* align-items: center; */
}

.card {
  border-radius: 25px;
  background-color: var(--text-color);
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  flex-direction: column;
  padding: 30px;
  box-sizing: border-box;
  width: 70vw;
  height: 70vh !important;
  max-height: 600px;
  text-align: center;
  box-shadow: 4px 4px 8px rgba(0, 0, 0, 0.1), 6px 6px 20px rgba(0, 0, 0, 0.1);
}

.card-image {
  margin-top: 20px;
  min-height: 200px;
  min-width: 200px;
  width: 75%;
  max-width: 350px;
  max-height: 350px;
}

.swiper-pagination-bullet {
  background-color: var(--text-color) !important;
  opacity: 1;
}

.swiper-pagination-bullet-active {
  background-color: var(--text-color) !important;
}

.project-title {
  color: var(--background-color);

  font-size: 1rem;
}

.skills-used {
  color: var(--background-color);

  font-weight: 500;
  margin-bottom: 0.5rem;
}

.project-controls {
  display: flex;
  justify-content: center;
  gap: 2rem;
}

.card p {
  color: var(--background-color);
  font-size: 0.6rem;
  text-align: justify;
}

.card:hover {
  transform: translateY(-10px);
  box-shadow: 0 8px 16px rgba(0, 0, 0, 0.4), 0 12px 40px rgba(0, 0, 0, 0.4);
}
